.mn-khkt-learning {
    background-color: #ffffff;

    @mixin ellipsis() {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        width: 100%;
    }

    @mixin icon-styles() {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'FontAwesome', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    @mixin transform($transform) {
        -webkit-transform: $transform;
        -moz-transform: $transform;
        -ms-transform: $transform;
        -o-transform: $transform;
        transform: $transform;
    }

    @media screen and (max-width: 768px) {
        .nav-tabs-responsive {
            > li {
                display: none !important;
                width: 23%;

                > a {
                    @include ellipsis();
                    width: 100%;
                    text-align: center;
                    vertical-align: top;
                }

                &.active {
                    width: 54%;

                    &:first-child {
                        margin-left: 23%;
                    }
                }

                &.active,
                &.prev,
                &.next {
                    display: block !important;
                }

                &.prev,
                &.next {
                    -webkit-transform: scale(0.9);
                    transform: scale(0.9);
                }

                &.next > a,
                &.prev > a {
                    -webkit-transition: none;
                    transition: none;

                    .text {
                        display: none;
                    }

                    &:after,
                    &:after {
                        @include icon-styles();
                    }
                }

                &.prev > a:after {

                    content: "\f104";
                }

                &.next > a:after {
                    content: "\f105";
                }

                &.dropdown {
                    > a > .caret {
                        display: none;
                    }

                    > a:after {
                        content: "\e114";
                    }

                    &.active > a {
                        &:after {
                            display: none;
                        }

                        > .caret {
                            display: inline-block;
                        }
                    }

                    .dropdown-menu {
                        &.pull-xs-left {
                            left: 0;
                            right: auto;
                        }

                        &.pull-xs-center {
                            right: auto;
                            left: 50%;
                            @include transform(translateX(-50%));
                        }

                        &.pull-xs-right {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    .learning-container {
        @include flexbox();
        @include flex-wrap(wrap);

        .left-content {
            @include flex-basis(75%);
            @include responsive(1024) {
                @include flex-basis(70%);
            }
            @include responsive(768) {
                @include flex-basis(100%);
            }

            .learning-video-wrapper {
                width: 100%;
                height: calc(100vh - 290px);

                .video-wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: #29303b;

                    .video {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .right-content {
            @include flex-basis(25%);
            @include responsive(1024) {
                @include flex-basis(30%);
            }
            @include responsive(768) {
                @include flex-basis(100%);
                display: none;
            }
            border: 1px solid #e8e9eb;
        }
    }

    .course-content-wrapper {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        @include responsive(768) {
            border-left: 0;
        }

        .section-heading {
            background-color: #f7f8fa;
            padding: 10px 15px;

            .section-heading-text {
                font-weight: 700;
                cursor: pointer;
                font-size: 15px;
                color: #29303b;
                line-height: 1.4;
            }
        }

        .section-list {
            .lesson-item {
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background: #f2f3f5;
                }

                &.current-item {
                    background: #e6f2f5;

                    .item-link {
                        .item-container {
                            .metadata {
                                i {
                                    color: #007791;
                                }
                            }
                        }
                    }
                }

                .item-link {
                    color: #14171c;
                    padding: 8px 16px;
                    @include flexbox();

                    a {
                        color: #14171c;
                    }

                    .item-container {
                        position: relative;
                        width: 100%;
                        z-index: 1;

                        a {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            font-size: 0;
                            color: transparent;
                            z-index: 1;
                        }

                        .metadata {
                            opacity: .7;
                            padding-top: 4px;
                            font-size: 12px;
                            color: #14171c;

                            i {
                                margin-right: 3px;
                            }
                        }
                    }

                    .checkbox-label {
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        font-size: 30px;
                        user-select: none;
                        padding-left: 30px;
                        height: 17px;
                        margin-top: 2px;

                        &:hover {
                            .checkmark {
                                border-color: #007791;
                            }
                        }

                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                        }

                        .checkmark {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 17px;
                            height: 17px;
                            background: #fff;
                            border-radius: 2px;
                            border: 1px solid #8a92a3;

                            &:after {
                                font-family: FontAwesome, sans-serif;
                                content: "\f00c";
                                position: absolute;
                                display: none;
                                top: 50%;
                                left: 50%;
                                color: #fff;
                                font-size: 12px;
                                @include transform(translate(-50%, -50%));
                            }
                        }
                    }

                    .checkbox-label input:checked ~ .checkmark {
                        background-color: #007791;
                        border: 1px solid #007791;
                    }

                    .checkbox-label input:checked ~ .checkmark:after {
                        display: block;
                    }
                }
            }
        }
    }

    .app-dashboard-content {
        overflow: hidden;
        
    }
}