.mn-khkt-account {
  padding: 60px 0;
  .user-avatar {
    background-color: #686f7a;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    width: 120px;
    position: relative;
    font-size: 36px;
    margin: 15px auto 5px auto;

    &:after{
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    .user-avatar-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  p.user-name{
    margin-bottom: 15px;
  }
  .col-left-account, .col-right-account{
    padding: 30px 15px;
    border: 1px solid #CCC;
    label{
      margin-bottom: 5px;
    }
  }
  .title-account{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
  }
}