.mn-khkt-my-courses {
    background-color: #fff;
    padding: 60px 0;

    .sec-heading {
        background-color: #012f8f;
        padding: 40px 0;
        margin-bottom: 30px;

        .sec-title {
            color: #fff;
            font-size: 30px;
            font-weight: 500;
        }
    }
}