.mn-khkt-course-archive {
    padding: 60px 0;
    background-color: #fff;

    .archive-title {
        font-size: 36px;
        font-weight: 600;
        color: #464646;
        line-height: 1.4;
        margin-bottom: 30px;
    }
}