.mn-khkt-course {
    background-color: #EEF1F2;
    padding: 60px 0;

    .card-wrapper {
        border-radius: 7px;
        background-color: #fff;
        padding: 25px 21px 25px 39px;
        margin-bottom: 15px;

        .card-title {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.33;
            letter-spacing: .3px;
            color: #464646;
        }
    }

    .course-name {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: .7px;
        color: #464646;
        height: auto;
        margin-bottom: 18px;
    }

    .course-description {
        font-size: 14px;
        line-height: 1.43;
        color: #464646;
        margin-bottom: 20px;
    }

    .sidebar-area {
        &.card-wrapper {
            padding: 0;
        }

        &.sidebar-sticky {
            position: sticky;
            top: 30px;
        }

        .course-featured-image {
            border-radius: 7px 7px 0 0;
            height: 196px;
            border: 4px solid #fff;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .checkout-course-detail {
            padding: 20px 24px 24px;

            .old-price {
                font-size: 14px;
                line-height: 1.43;
                letter-spacing: .2px;
                color: #9b9b9b;
                text-decoration: line-through;
            }

            .price {
                font-size: 28px;
                font-weight: 600;
                line-height: 1.29;
                letter-spacing: .4px;
                color: #df322f;
            }
        }

        .course-add-form {
            padding: 20px 24px 24px;
            .buy-now-button {
                width: 100%;
                height: 48px;
                text-transform: uppercase;
                border: none;
                order: -1;
                border-radius: 3px;
                background-color: #df322f;
                font-size: 12px;
                font-weight: 600;
                line-height: 1.33;
                letter-spacing: -.2px;
                text-align: center;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 8px;
                cursor: pointer;
                box-shadow: none;
                outline: none;
            }
        }
    }

    .chapter-container {
        #chapter-accordion {
            .chapter-wrapper {
                margin-bottom: 10px;
            }

            .section-heading {
                cursor: pointer;
                position: relative;
                z-index: 1;
                border-radius: 7px;
                border: 1px solid #dedfe0;
                background-color: #fff;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .section-heading-text {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.43;
                    letter-spacing: -.2px;
                    color: #464646;
                    width: 500px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex-shrink: 0;
                }
            }

            .lesson-list {
                .lesson-item {
                    background-color: #F4F7F8;
                    padding: 0 20px;

                    span {
                        display: block;
                        padding: 20px 0;
                        border-bottom: 2px solid #eaeaea;

                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}