form#post {
    #post-title {
        font-size: 1.7rem;
    }

    .btn {
        cursor: pointer;
    }

    .row-actions a {
        visibility: hidden;
    }

    .course-builder-item {
        &:hover {
            .row-actions a {
                visibility: visible;
            }
        }
    }
}
